@charset "UTF-8";

/* Celular */
@media screen and (min-width: 0px) and (max-width: 600px) {

.footer-buttons {
    display: grid;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.content .images {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
}

.menu-toggle {
    display: block;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
}

nav.active {
    display: flex;
}

nav button {
    width: 100%;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #575757;
}

}


@media screen and (min-width: 601px) and (max-width: 768px) {
.content .images {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
}
.menu-toggle {
    display: block;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
}

nav.active {
    display: flex;
}

nav button {
    width: 100%;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #575757;
}
}


@media screen and (min-width: 769px) and (max-width: 992px) {

}


@media screen and (min-width: 993px) and (max-width: 1200px) {

}


@media screen and (min-width: 1201px) {

}